.container {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  .header {
    height: 60px;
    padding: 10px;
    background-color: #196cb5;
    .header-logo{
      background-image: url(../assets/icons/header-icon.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 80%;
      width: 25%;
    }
    .logo {
      background-image: url(../assets/icons/logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      height: 80%;
      width: 25%;
    }
  }
}
