mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #196cb5;
  }

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  mat-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; /* Add some spacing between the label and input */
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
    flex: 1;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button[type="submit"] {
    background-color: #196cb5;
    color: #fff;
    font-weight: bold;
  }

  button[type="button"] {
    background-color: #ccc;
    color: #333;
  }

  .incorrect-password{
    color: red;
  }