
  .submit-button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #196cb5;
    align-items: right;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
